# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [8]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia_termica=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica_serie=pd.Series(anomalia_termica)
anomalia_termica_serie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [17]:

# seu código aqui

anomalia_termica=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica

[-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]

In [18]:
anos=[1900,1920,1940,1960,1980,2000,2020]
anos

[1900, 1920, 1940, 1960, 1980, 2000, 2020]

In [20]:
serieComIndice=pd.Series(data=anomalia_termica,index=anos)
serieComIndice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [22]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temperaturas_serie=pd.Series(dic_temperaturas)
dic_temperaturas_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [80]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

dataframe_arr= pd.DataFrame(np.random.normal(100, 10, (21,3)))
dataframe_arr

             0           1           2
0    76.715563   90.363041  106.500569
1    98.297805  106.908457  105.403973
2    81.305718  102.883011   90.348257
3    88.709808  112.777195   92.956171
4    83.016691   88.278405  107.240393
5   109.909086  107.385317   86.871125
6   106.903680  105.351551  110.360153
7   103.422246   99.882451  106.275377
8   113.768238  110.564250  100.742554
9   119.852622  105.751743  108.715371
10   96.512593  104.049813  107.066470
11  113.309428  100.650115   99.265671
12   78.158908  104.974942   93.432622
13   83.334667   86.344362  106.603971
14  105.249947  105.556811   82.426557
15  125.520963  103.011308  102.332637
16   94.546544   94.098237  105.821843
17  107.074266  100.313106  111.954965
18  104.092267   76.389763   97.202399
19  100.136824  101.324218  122.201513
20  115.109177   92.792664  108.716704

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [110]:
#seu código aqui

dataframe_dic=pd.DataFrame({'x1':dataframe_arr[0],
             'x2':dataframe_arr[1],
             'x3':dataframe_arr[2],
             
             })



dataframe_dic

#dataframe_arr

            x1          x2          x3
0    76.715563   90.363041  106.500569
1    98.297805  106.908457  105.403973
2    81.305718  102.883011   90.348257
3    88.709808  112.777195   92.956171
4    83.016691   88.278405  107.240393
5   109.909086  107.385317   86.871125
6   106.903680  105.351551  110.360153
7   103.422246   99.882451  106.275377
8   113.768238  110.564250  100.742554
9   119.852622  105.751743  108.715371
10   96.512593  104.049813  107.066470
11  113.309428  100.650115   99.265671
12   78.158908  104.974942   93.432622
13   83.334667   86.344362  106.603971
14  105.249947  105.556811   82.426557
15  125.520963  103.011308  102.332637
16   94.546544   94.098237  105.821843
17  107.074266  100.313106  111.954965
18  104.092267   76.389763   97.202399
19  100.136824  101.324218  122.201513
20  115.109177   92.792664  108.716704

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [114]:
# seu código aqui

dataframe_dic['media']=(dataframe_dic['x1'] + dataframe_dic['x2'] + dataframe_dic['x3'])/3
dataframe_dic['media']

0      91.193057
1     103.536745
2      91.512328
3      98.147725
4      92.845163
5     101.388509
6     107.538462
7     103.193358
8     108.358347
9     111.439912
10    102.542959
11    104.408405
12     92.188824
13     92.094333
14     97.744438
15    110.288303
16     98.155541
17    106.447446
18     92.561476
19    107.887518
20    105.539515
Name: media, dtype: float64

In [113]:
dataframe_dic

            x1          x2          x3       media
0    76.715563   90.363041  106.500569   91.193057
1    98.297805  106.908457  105.403973  103.536745
2    81.305718  102.883011   90.348257   91.512328
3    88.709808  112.777195   92.956171   98.147725
4    83.016691   88.278405  107.240393   92.845163
5   109.909086  107.385317   86.871125  101.388509
6   106.903680  105.351551  110.360153  107.538462
7   103.422246   99.882451  106.275377  103.193358
8   113.768238  110.564250  100.742554  108.358347
9   119.852622  105.751743  108.715371  111.439912
10   96.512593  104.049813  107.066470  102.542959
11  113.309428  100.650115   99.265671  104.408405
12   78.158908  104.974942   93.432622   92.188824
13   83.334667   86.344362  106.603971   92.094333
14  105.249947  105.556811   82.426557   97.744438
15  125.520963  103.011308  102.332637  110.288303
16   94.546544   94.098237  105.821843   98.155541
17  107.074266  100.313106  111.954965  106.447446
18  104.092267   76.389763   97.202399   92.561476
19  100.136824  101.324218  122.201513  107.887518
20  115.109177   92.792664  108.716704  105.539515

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [117]:
# seu código aqui

dataframe_dic['log']=np.log( dataframe_dic['media'])
dataframe_dic

            x1          x2          x3       media       log
0    76.715563   90.363041  106.500569   91.193057  4.512979
1    98.297805  106.908457  105.403973  103.536745  4.639927
2    81.305718  102.883011   90.348257   91.512328  4.516474
3    88.709808  112.777195   92.956171   98.147725  4.586474
4    83.016691   88.278405  107.240393   92.845163  4.530933
5   109.909086  107.385317   86.871125  101.388509  4.618960
6   106.903680  105.351551  110.360153  107.538462  4.677849
7   103.422246   99.882451  106.275377  103.193358  4.636604
8   113.768238  110.564250  100.742554  108.358347  4.685444
9   119.852622  105.751743  108.715371  111.439912  4.713486
10   96.512593  104.049813  107.066470  102.542959  4.630282
11  113.309428  100.650115   99.265671  104.408405  4.648310
12   78.158908  104.974942   93.432622   92.188824  4.523839
13   83.334667   86.344362  106.603971   92.094333  4.522813
14  105.249947  105.556811   82.426557   97.744438  4.582356
15  125.520963  103.011308  102.332637  110.288303  4.703098
16   94.546544   94.098237  105.821843   98.155541  4.586553
17  107.074266  100.313106  111.954965  106.447446  4.667651
18  104.092267   76.389763   97.202399   92.561476  4.527873
19  100.136824  101.324218  122.201513  107.887518  4.681089
20  115.109177   92.792664  108.716704  105.539515  4.659085